/AutomorphicNumber.class
/BuzzNumber.class
/CountDigit.class
/DuckNumber.class
/EvenOddwithoutModulus.class
/FibonacciSerieswithgivenRange.class
/HappyNumber.class
/LargestDigit.class
/MinimumDigit.class
/NeonNumber.class
/PrimDigit.class
/Squareroot.class
/SwapWithoutTemp.class
/TechNumber.class
/XylemandPhloem.class
/armstrong.class
/compositenumberbetweenrange.class
/factors.class
/gcd.class
/palindrome.class
/perfectnumber.class
/primeORcomposite.class
/primenumberbewteenrange.class
/spynumber.class
/strongnumber.class
/sunnyNumber.class
/swapwithTemp.class
